{{import_globals}}
<div class="tutor__inner">
  <div class="tutor__content">
    <div class="tutor__content-inner">
      <div class="tutor__title">
        <div class="tutor__title-inner" {{a11y_attrs_heading 'notify'}}>
          {{{compile title}}}
        </div>
      </div>
      <div class="tutor__body">
        <div class="tutor__body-inner">
          {{{compile body}}}
        </div>
      </div>
      {{#if _textButton._isEnabled}}
      <div class="tutor__btn-container">
        <button
          class="btn-text tutor__btn js-tutor-btn"
          aria-label="{{_globals._extensions._tutor.hideFeedback}}"
        >
          {{{_textButton.text}}}
        </button>
      </div>
      {{else}}
      <button
        class="btn-icon tutor__btn-icon js-tutor-btn"
        aria-label="{{_globals._extensions._tutor.hideFeedback}}"
      >
        <div class="icon"></div>
      </button>
      {{/if}}
    </div>
  </div>
</div>
