{{import_globals}}

<div class="tutor__inner">

  <div class="tutor__content">
    <div class="tutor__content-inner">

      {{#if title}}
      <div class="tutor__title">
        <div class="tutor__title-inner" role="heading" aria-level="{{a11y_aria_level _id '@component+1' _ariaLevel }}">
          {{{compile title}}}
        </div>
      </div>
      {{else if altTitle}}
      <div class="tutor__title aria-label">
        <div class="tutor__title-inner" role="heading" aria-level="{{a11y_aria_level _id '@component+1' _ariaLevel }}">
          {{{compile altTitle}}}
        </div>
      </div>
      {{/if}}

      <div class="tutor__body">
        <div class="tutor__body-inner">
          {{{compile body}}}
        </div>
      </div>

      {{#any (equals _type 'notify') (equals _type 'overlay')}}
      <button
        class="btn-icon tutor__btn-icon js-tutor-btn"
        {{#if _button.ariaLabel}}aria-label="{{compile_a11y_normalize _button.ariaLabel}}"{{/if}}
      >
        <span class="icon" aria-hidden="true"></span>
      </button>
      {{/any}}

    </div>
  </div>

</div>
