<div {{#each _currentFeedback._attributes}}{{@key}}="{{this}}" {{/each}} class="tutor-inner {{_currentFeedback._classes}}">
    <span tabindex="0" class="aria-label">
    {{_globals._accessibility._ariaLabels.feedbackPopUp}}
    </span>
    <div class="content-inner">
        <div class="content-title">
            <div class="tutor-title-inner h5" tabindex="0" role="heading" aria-level="1">
            {{{compile _currentFeedback.title}}}
            </div>
        </div>
        <div class="content-body">
            <div class="body-inner">
            {{{compile _currentFeedback.body}}}
            </div>
        </div>
        {{#if _feedback._showContinueButton}}
        <div class="button-container">
            <button class="continue-button" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
            {{{_feedback.continueButtonText}}}
            </button>
        </div>
        {{else}}
        <button class="close-button" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
            <div class="notify-popup-icon-close icon icon-cross"></div>
        </button>
        {{/if}}
    </div>
</div>
